.navigation-container {
  :global {
    .ant-tabs-nav {
      background-color: #fff;
      padding-left: 20px;
    }
    .navigation-tabpane {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
    }
    .ant-popover-buttons {
      text-align: center;
    }
  }
}
