.write-container {
  :global {
    .write-options {
      padding: 16px 24px;
      margin-bottom: 20px;
      background-color: #fff;
      .ant-form-item-with-help {
        margin-bottom: 0;
      }
    }
  }
  :global {
    .bytemd {
      height: calc(100vh - 218px);
    }
  }
}
