.home-container {
  font-family: 'yu200';
  :global {
    .ant-card {
      cursor: default;
    }

    .home-first-row {
      display: flex;
      margin-bottom: 20px;
    }

    .home-row {
      display: flex;
      align-items: flex-start;
      margin-bottom: 20px;
      justify-content: space-between;
    }

    .home-card-welcome {
      width: 500px;
    }
    .home-card-welcome-inner {
      display: flex;
      align-items: center;
      img {
        height: 80px;
        float: left;
      }
      h2 {
        font-weight: 700;
        span {
          color: pink;
        }
      }
    }

    .home-card-notice {
      width: 600px;
      margin-left: 20px;
      .home-notice-edit {
        cursor: pointer;
        font-size: 16px;
      }
    }

    .home-card-show {
      width: 300px;
      .home-number-box {
        font-size: 28px;
        text-align: center;
      }
    }
  }
}

:global {
  .home-notice-modal {
    resize: none;
    font-family: 'yu200';
    font-size: 16px;
  }
}
